<form #form="ngForm" (submit)="submit()">
  <div class="myCard">
    <div class="header">
      <h3>Step 3</h3>
      <h4>Provide your address information</h4>
    </div>

    <fieldset class="field">
      <label>Street</label>
      <input type="text" placeholder="Cherry Street No.5" autocomplete="disabled"[(ngModel)]="person.street" name="street" required/>
    </fieldset>
    <fieldset class="field">
      <label>City</label>
      <input type="text" placeholder="Oberhausen" autocomplete="disabled" [(ngModel)]="person.city" name="city" />
    </fieldset>
  </div>

  <button>Submit</button>
</form>

Valid: {{ form.valid }}
{{ person | json}}
