<ng-container *ngIf="personGroup" [formGroup]="personGroup">
  <fieldset class="field">
    <label>First Name</label>
    <input type="text" class="" placeholder="Peter" autocomplete="disabled" formControlName="firstName" />
  </fieldset>
  <fieldset class="field">
    <label>Last Name</label>
    <input type="text" placeholder="Peterson" autocomplete="disabled" formControlName="lastName" />
  </fieldset>
  <fieldset class="field">
    <label>Age</label>
    <input type="number" placeholder="18" autocomplete="disabled" formControlName="age"/>
  </fieldset>
</ng-container>
